/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    font-family: "Inter", sans-serif;
    color: #222325;
}

.main {
    width: 100%;
    height: 100%;
}

.head-grid {
    display: grid;
}

.head-00 { grid-area: h00; }
.head-01 { grid-area: h01; }
.head-11 { grid-area: h11; }
.head-21 { grid-area: h21; }
.head-02 { grid-area: h02; }
.head-12 { grid-area: h12; }
.head-22 { grid-area: h22; }

.body-grid {
    display: grid;
}

.divider { grid-area: d0; }

.body-0 { grid-area: b0; }
.body-1 { grid-area: b1; }
.body-2 { grid-area: b2; }

.divider {
    border-top: 2px solid #222325;
    padding-bottom: 35px;
}

.title {
    width: 100%;
    font-weight: 700;
    font-family: "Playfair Display", serif;
    font-size: 16px;
    color: #3e7137;
}

.title-date {
    width: 100%;
    font-weight: 700;
    font-family: "Playfair Display", serif;
    margin-bottom: 10px;
}

.head-01, .head-11, .head-21 {
    margin-bottom: 5px;
}

.label-0 { grid-area: e0; }
.label-1 { grid-area: e1; }
.label-2 { grid-area: e2; }
.label-3 { grid-area: e3; }
.label-4 { grid-area: e4; }
.label-5 { grid-area: e5; }
.label-6 { grid-area: e6; }
.label-7 { grid-area: e7; }
.label-8 { grid-area: e8; }
.label-9 { grid-area: e9; }
.label-10 { grid-area: e10; }
.label-11 { grid-area: e11; }
.label-12 { grid-area: e12; }

.val-0 { grid-area: f0; }
.val-1 { grid-area: f1; }
.val-2 { grid-area: f2; }
.val-3 { grid-area: f3; }
.val-4 { grid-area: f4; }
.val-5 { grid-area: f5; }
.val-6 { grid-area: f6; }
.val-7 { grid-area: f7; }
.val-8 { grid-area: f8; }
.val-9 { grid-area: f9; }
.val-10 { grid-area: f10; }
.val-11 { grid-area: f11; }
.val-12 { grid-area: f12; }

.head-01 {
    display: grid;
    grid-template-columns: auto max-content 1fr auto max-content;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
        ". . . . ."
        "e0 f0 . e1 f1"
        "e2 f2 . . .";
    row-gap: 2px;
}

.head-11 {
    display: grid;
    grid-template-columns: auto max-content 1fr auto max-content;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
        ". . . . ."
        "e3 f3 . e5 f5"
        "e4 f4 . e6 f6";
    row-gap: 2px;
}

.head-21 {
    display: grid;
    grid-template-columns: auto max-content 1fr auto max-content;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
        "e7 f7 . e10 f10"
        "e8 f8 . e11 f11"
        "e9 f9 . e12 f12";
    row-gap: 2px;
}

.head-label {
    margin-right: 5px;
    font-weight: 700;
}

.head-val {
    text-align: right;
}

.legend-icon {
    position: relative;
    width: 12px;
    height: 12px;
    border-radius: 6px;
    display: inline-block;
    top: 1px;
    margin-right: 1px;
}

.chart-container {
    position: relative;
    margin-left: 2px;
    margin-bottom: 50px;
}

.chart {
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    row-gap: 11px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.chart > div {
    position: relative;
    height: 19px;
}

.chart > div > div {
    position: absolute;
}

.chart-rect {
    z-index: 1;
}

.chart-rect:hover {
    opacity: 0.8;
}

.year-row {
    font-weight: 700;
    margin-bottom: 10px;
}

 .body-column {
    display: flex;
    flex-flow: column nowrap;
}

.grid-line {
    position: absolute;
    top: 0;
    border-left: 1px solid #e5e8ed;
    height: 100%;
    width: 5px;
    pointer-events: none;
}

.grid-line-first {
    position: absolute;
    top: 0;
    left: -2px;
    border-left: 2px solid #222325;
    height: 100%;
    width: 5px;
    pointer-events: none;
    z-index: 2;
}

.grid-label {
    position: absolute;
    bottom: -22px;
}

.time-axis-label {
    right: 100%;
    margin-right: 10px;
    white-space: nowrap;
    text-align: right;
}

.label-0 .legend-icon { background-color: #edc948; }
.label-1 .legend-icon { background-color: #bab0ac; }
.label-2 .legend-icon { background-color: #5a5f68; }
.label-3 .legend-icon { background-color: #59a14f; }
.label-4 .legend-icon { background-color: #e15759; }
.label-5 .legend-icon { background-color: #3e7137; }
.label-6 .legend-icon { background-color: #b92123; }
.label-7 .legend-icon { background-color: #4e79a7; }
.label-8 .legend-icon { background-color: #b07aa1; }
.label-9 .legend-icon { background-color: #9c755f; }
.label-10 .legend-icon { background-color: #76b7b2; }
.label-11 .legend-icon { background-color: #ff9da7; }
.label-12 .legend-icon { background-color: #f28e2b; }

.tooltip {
    background-color: white;
	font-size: 12px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    border: 1px solid #dddddd;
    position: absolute;
    padding: 4px 8px;
    text-align: left;
	z-index: 3;
	display: none;
}

.tt-content {
    display: flex;
    flex-direction: column;
}

.tt-1 {
    font-weight: 700;
}

/* Fixed margins */
@media (min-width: 0px) {
    .main {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .head-grid {
        grid-template-columns: 55px auto 25px;
        grid-template-rows: auto;
        grid-template-areas:
            "h00 h00 h00"
            ". h01 ."
            ". h02 ."
            ". h11 ."
            ". h12 ."
            ". h21 ."
            ". h22 .";
    }

    .body-grid {
        grid-template-columns: 55px auto 25px;
        grid-template-rows: auto;
        grid-template-areas:
            ". d0 ."
            ". b0 ."
            ". b1 ."
            ". b2 .";
    }

    body {
        font-size: 10px;
    }

    .title-date {
        font-size: 24px;
    }

    .head-00 {
        text-align: center;
    }
}

@media (min-width: 330px) {
    .head-grid {
        grid-template-columns: 2fr calc(125px + 28%) 1fr;
    }

    .body-grid {
        grid-template-columns: 2fr calc(125px + 28%) 1fr;
    }

    body {
        font-size: 12px;
    }

    .title-date {
        font-size: 32px;
    }
}

@media (min-width: 400px) {
    .main {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .head-grid {
        grid-template-columns: 1fr 232px 1fr;
        grid-template-areas:
            ". h00 ."
            ". h01 ."
            ". h02 ."
            ". h11 ."
            ". h12 ."
            ". h21 ."
            ". h22 .";
    }

    .body-grid {
        grid-template-columns: 1fr 232px 1fr;
    }

    .head-00 {
        text-align: left;
    }
}

@media (min-width: 750px) {
    .head-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .body-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 1250px) {
    .head-grid {
        grid-template-columns: auto 232px 232px 232px auto;
        grid-template-areas:
            ". h00 h00 h00 ."
            ". h01 h11 h21 ."
            ". h02 h12 h22 .";
        column-gap: 116px;
    }

    .body-grid {
        grid-template-columns: auto 232px 232px 232px auto;
        grid-template-areas:
            ". d0 d0 d0 ."
            ". b0 b1 b2 .";
        column-gap: 116px;
    }
}
