:root {
   --light-grey: #d1cbc7;
   --black: #222325;
}

body {
    margin: 0px;
}

html {
    font-family: "Open Sans", sans-serif;
    color: var(--black);
    line-height: 1.5;
}

.main {
    width: 100%;
    height: 100%;
}

.head-grid {
    display: grid;
    background-color: #f1edeb;
    margin-bottom: 25px;
    padding-top: 30px;
}

.head-00 { grid-area: h00; }
.head-01 { grid-area: h01; }
.head-11 { grid-area: h11; }
.head-21 { grid-area: h21; }
.head-02 { grid-area: h02; }
.head-12 { grid-area: h12; }
.head-22 { grid-area: h22; }

.body-grid {
    display: grid;
}

.divider { grid-area: d0; }

.body-0 { grid-area: b0; }
.body-1 { grid-area: b1; }
.body-2 { grid-area: b2; }

.title {
    width: 100%;
    font-weight: 700;
    font-family: "Playfair Display", serif;
    font-size: 16px;
    color: #3e7137;
}

.title-date {
    width: 100%;
    font-weight: 700;
    font-family: "Playfair Display", serif;
    margin-bottom: 20px;
}

.label-cash { grid-area: label-cash; }
.label-financial { grid-area: label-financial; }
.label-real { grid-area: label-real; }
.label-debt { grid-area: label-debt; }
.label-income { grid-area: label-income; }
.label-expenses { grid-area: label-expenses; }
.label-sdincome { grid-area: label-sdincome; }
.label-sdexpenses { grid-area: label-sdexpenses; }
.label-housing { grid-area: label-housing; }
.label-food { grid-area: label-food; }
.label-shopping { grid-area: label-shopping; }
.label-utilities { grid-area: label-utilities; }
.label-health { grid-area: label-health; }
.label-leisure { grid-area: label-leisure; }

.val-cash { grid-area: val-cash; }
.val-financial { grid-area: val-financial; }
.val-real { grid-area: val-real; }
.val-debt { grid-area: val-debt; }
.val-income { grid-area: val-income; }
.val-expenses { grid-area: val-expenses; }
.val-sdincome { grid-area: val-sdincome; }
.val-sdexpenses { grid-area: val-sdexpenses; }
.val-housing { grid-area: val-housing; }
.val-food { grid-area: val-food; }
.val-shopping { grid-area: val-shopping; }
.val-utilities { grid-area: val-utilities; }
.val-health { grid-area: val-health; }
.val-leisure { grid-area: val-leisure; }

.head-net-assets { grid-area: net-assets; }
.head-net-income { grid-area: net-income; }

.head-01 {
    display: grid;
    grid-template-columns: auto max-content 1fr auto max-content;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
        "label-cash val-cash . label-financial val-financial"
        "label-debt val-debt . label-real      val-real"
        "net-assets net-assets net-assets net-assets net-assets";
    row-gap: 2px;
}

.head-11 {
    display: grid;
    grid-template-columns: auto max-content 1fr auto max-content;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
        "label-income   val-income   . label-sdincome val-sdincome"
        "label-expenses val-expenses . label-sdexpenses   val-sdexpenses"
        "net-income net-income net-income net-income net-income";
    row-gap: 2px;
}

.head-21 {
    display: grid;
    grid-template-columns: auto max-content 1fr auto max-content;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
        "label-housing  val-housing  . label-utilities val-utilities"
        "label-food     val-food     . label-health    val-health"
        "label-shopping val-shopping . label-leisure   val-leisure";
    row-gap: 2px;
}

.head-net-assets, .head-net-income {
    display: flex;
    flex-flow: row nowrap;
}

.head-net-assets > .label, .head-net-income .label {
    margin-right: 5px;
}

.head-net-assets, .head-net-income {
    font-weight: 700;
}

.head-01, .head-11, .head-21 {
    margin-bottom: 10px;
}

.head-label {
    display: flex;
    flex-flow: row nowrap;
}

.head-val {
    text-align: right;
}

.legend-icon {
    width: 12px;
    height: 12px;
    border-radius: 30px;
    display: inline-block;
    position: relative;
}

.chart-container {
    position: relative;
    margin-bottom: 50px;
}

.chart {
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    row-gap: 12px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 2px;
}

.chart > div {
    position: relative;
    height: 21px;
}

.chart > div > div {
    position: absolute;
}

.chart-rect {
    z-index: 1;
}

.chart-rect:hover {
    opacity: 0.8;
}

.year-row {
    font-weight: 700;
    margin-bottom: 5px;
}

.body-column {
    display: flex;
    flex-flow: column nowrap;
}

.grid-line {
    position: absolute;
    top: 0;
    border-left: 1px solid var(--light-grey);
    height: 100%;
    width: 5px;
    pointer-events: none;
}

.grid-line-first {
    position: absolute;
    top: 0;
    background-color: var(--black);
    height: 100%;
    width: 2px;
    pointer-events: none;
    z-index: 2;
}

.grid-label {
    position: absolute;
    bottom: -20px;
}

.time-axis-label {
    right: 100%;
    margin-right: 10px;
    white-space: nowrap;
    text-align: right;
}

.label-cash .legend-icon { background-color: #cbcc64; }
.label-financial .legend-icon { background-color: #af9a40; }
.label-real .legend-icon { background-color: #765128; }
.label-debt .legend-icon { background-color: #c14c89; }
.label-income .legend-icon { background-color: #5da145; }
.label-expenses .legend-icon { background-color: #b85447; }
.label-sdincome .legend-icon { background-color: #366a24; }
.label-sdexpenses .legend-icon { background-color: #76332a; }
.label-housing .legend-icon { background-color: #92ddd1; }
.label-food .legend-icon { background-color: #586abf; }
.label-shopping .legend-icon { background-color: #d498d9; }
.label-utilities .legend-icon { background-color: #68aecc; }
.label-health .legend-icon { background-color: #261a3d; }
.label-leisure .legend-icon { background-color: #994cb9; }

.tooltip {
    background-color: white;
	font-size: 12px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    border: 1px solid #dddddd;
    position: absolute;
    padding: 4px 8px;
    text-align: left;
	z-index: 3;
	display: none;
}

.tt-content {
    display: flex;
    flex-direction: column;
}

.tt-1 {
    font-weight: 700;
}

@media (min-width: 0px) {
    .head-grid {
        padding-top: 30px;
    }

    .head-grid {
        grid-template-columns: 55px auto 25px;
        grid-template-rows: auto;
        grid-template-areas:
            "h00 h00 h00"
            ". h01 ."
            ". h02 ."
            ". h11 ."
            ". h12 ."
            ". h21 ."
            ". h22 .";
    }

    .body-grid {
        grid-template-columns: 55px auto 25px;
        grid-template-rows: auto;
        grid-template-areas:
            ". d0 ."
            ". b0 ."
            ". b1 ."
            ". b2 .";
    }

    html {
        font-size: 10px;
    }

    .title-date {
        font-size: 25px;
    }

    .head-00 {
        text-align: center;
    }

    .legend-icon {
        width: 10px;
        height: 10px;
        margin-right: 2px;
        top: 2px;
    }

    .head-label {
        margin-right: 4px;
    }
}

@media (min-width: 450px) {
    .main {
        padding-bottom: 30px;
    }

    .head-grid {
        padding-top: 60px;
    }

    .head-grid {
        grid-template-columns: 1fr 302px 1fr;
        grid-template-areas:
            ". h00 ."
            ". h01 ."
            ". h02 ."
            ". h11 ."
            ". h12 ."
            ". h21 ."
            ". h22 .";
    }

    .body-grid {
        grid-template-columns: 1fr 302px 1fr;
    }

    .head-00 {
        text-align: left;
    }

    .title-date {
        font-size: 30px;
    }

    html {
        font-size: 12px;
    }

    .legend-icon {
        width: 12px;
        height: 12px;
        margin-right: 4px;
        top: 2px;
    }

    .head-label {
        margin-right: 6px;
    }
}

@media (min-width: 700px) {
    .head-grid {
        grid-template-columns: 1fr 2fr 1fr;
    }

    .body-grid {
        grid-template-columns: 1fr 2fr 1fr;
    }

    .title-date {
        font-size: 42px;
    }

    html {
        font-size: 14px;
    }

    .legend-icon {
        width: 13px;
        height: 13px;
        margin-right: 5px;
        top: 4px;
    }

    .head-label {
        margin-right: 8px;
    }
}

@media (min-width: 1500px) {
    .head-grid {
        grid-template-columns: auto 302px 302px 302px auto;
        grid-template-areas:
            ". h00 h00 h00 ."
            ". h01 h11 h21 ."
            ". h02 h12 h22 .";
        column-gap: 151px;
    }

    .body-grid {
        grid-template-columns: auto 302px 302px 302px auto;
        grid-template-areas:
            ". d0 d0 d0 ."
            ". b0 b1 b2 .";
        column-gap: 151px;
    }
}
